.nav-bar{
	overflow: hidden;
	background-color: rgba(31, 30, 30, 0.70);
	margin: 0px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
.nav-bar li{
	display: inline;
	list-style-type: none;
	color:white;
}
.nav-bar li a{
	text-decoration: none;
	float: left;
	display: block;
	color: white;
	padding: 10px 25px;
	margin: 5px 25px;
	font-size: large;
	text-align: center;
}
.nav-bar li a:hover{
	transform: scale(1.1);
}



.footer{
  height: 160px;
  width: 100%;
  background-color: black;
  margin-top: 300px;
  text-align: center;
}
.footer a{
  margin-top: 30px;
}
.fat {
padding: 20px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}
.fat:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.fa-facebook {
background: darkblue;
color: white;
}
.fa-twitter {
background: #5fdde5;
color: white;
}
.fa-linkedin {
background: black;
color: white;
}
.fa-linkedin {
background: #342ead;
color: white;
}
.fa-instagram {
background: linear-gradient(to bottom left, #cc0099 20%, #ff6600 100%);
color: white;
}
.fa-youtube {
background: #bb0000;
color: white;
}

.fa-reddit {
background: #ff5700;
color: white;
}
